<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nchu.ptas.mapper.ImageMapper">

    <select id="findByUsedSlideshow" resultType="com.nchu.ptas.entity.Image">
        SELECT * FROM images WHERE used = 1 AND category = 0;
    </select>

    <insert id="save" parameterType="com.nchu.ptas.entity.Image">
        INSERT INTO images (url,used,category) VALUES (#{url},#{used},#{category})
    </insert>

    <select id="findByUrl" resultType="com.nchu.ptas.entity.Image">
        SELECT * FROM images WHERE url = #{url};
    </select>

    <update id="doNotUsed" parameterType="Integer">
        UPDATE images SET used = 0 WHERE pic_id = #{pic_id}
    </update>

    <select id="findById" resultType="com.nchu.ptas.entity.Image">
        SELECT * FROM images WHERE pic_id = #{id} LIMIT 1;
    </select>
</mapper>